body {
  font-family: "Golos";
  height: 2000px;
}

h1, h2, h3, p, a, li, ul {
  margin: 0;
  padding: 0;
  color: #181818;
  list-style-type: none;
  text-decoration: none;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

p, a, li, ul {
  font-size: 18px;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.activePage {
  border-bottom: 3px solid #2E6C77;
}
