.header-menu__list {
  position: relative;
}

.header-submenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: white;
  left: -16%;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 22px;
  padding-left: 22px;
}

.header-submenu li {
  list-style: none;
  margin: 0 0 10px 0;
  padding-right: 22px;
  padding-bottom: 12px;
}

.header-submenu li:last-child {
  margin: 0;
  padding-bottom: 22px;
  border-bottom: none;
}

.header-submenu li > a {
  text-decoration: none;
  color: black;
}

.header-submenu li > a:hover {
  color: #2e6c77;
}

.header-subsubmenu {
  background-color: white;
  position: absolute;
  left: 100%;
  width: fit-content;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.header-submenu__list {
  display: flex;
}

body._pc .header-menu > li:hover .header-submenu {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

body._pc .header-submenu > li:hover .header-subsubmenu {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
