.header {
  height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 0px 32px;
  border-bottom: 1px solid #cdcdcd;
  background-color: white;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 22px;
}

.header__main__menu {
  width: 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__main__menu-element {
  font-weight: 500;
  padding: 39px 0px;
}

.header__main__menu-ahref {
  padding: 6px 3px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.header__main__menu-ahref:hover {
  color: #2E6C77;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.header__main__menu-ahref:active {
  color: #878787;
}

.header__main__menu-arrow {
  margin: 0px 0px 1px 6px;
  pointer-events: none;
}

.header__contacts {
  width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts-number {
  font-weight: 700;
  color: #2E6C77;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.header__contacts-button {
  width: 200px;
  height: 50px;
  background-color: #2E6C77;
  color: white;
  font-weight: 500;
  font-size: 18px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.header__contacts-button:hover {
  background-color: white;
  border: 1px solid #2E6C77;
  color: #2E6C77;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.header__links {
  width: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__links-svg {
  fill: #2E6C77;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.header__links-svg:hover {
  fill: #181818;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
