.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 130px auto;
}

.main__block-h1 {
  width: 999px;
  line-height: 77px;
}

.main__block-h1-span {
  color: #2E6C77;
}

.main__block-p {
  width: 550px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #878787;
  margin: 30px 0px 60px;
}

.main__block-button {
  width: 300px;
  height: 70px;
  background: #2E6C77;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: white;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.main__block-button:hover {
  background-color: white;
  border: 1px solid #2E6C77;
  color: #2E6C77;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.video-p {
  position: absolute;
  color: white;
  margin: 32px 0px 0px 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.about {
  margin: 120px auto;
}
