@media (max-width: 1720px)
  .header
    &-container
      width: 1020px
@media (max-width: 1540px)
  .header
    &-container
      margin: 0
      width: 960px
    &-menu
      margin-right: 30px
    &-button
      display: none
    &-links
      margin-left: 50px
  .footer-bg
    margin-left: -184px

@media (max-width: 1440px)
  .main
    padding-top: 195px

@media (max-width: 1366px)
  .main-info__text
    margin-bottom: 40px

@media (max-width: 1300px)
  h3
    font-size: 40px !important
    line-height: 48px !important
  h2
    font-size: 96px !important
    line-height: 115px !important
  .header-menu__activeLine
    margin-top: 35px !important
  .header
    &-logo
      width: 175px
    &-menu
      margin-right: 40px
    &-links
      margin-left: 0px
  .container
    width: 930px
  .photo
    &-container
      width: 930px
  .video
    &-size
      height: 525px
  .main
    &-container
      width: 930px
    &-info
      &__title
        width: 810px
        font-size: 53px
        line-height: 64px
        margin-bottom: 25px
      &__text
        font-size: 16px
        width: 485px
        line-height: 130%
        margin-bottom: 40px
      &__button
        font-size: 18px
        padding: 21px 36px
        width: 275px
    &-arr
      margin-left: 45px
  .about
    &-title

    &-left
      height: 695px
      &__text
        font-size: 12px
        width: 155px
    &-subtitle
      width: 585px
      margin-bottom: 30px
      padding-left: 185px
    &-right
      &__text
        font-size: 16px
        width: 414px
      &__img
        width: 330px
      &__tagline
        font-size: 28px
        width: 396px
    &-advantage
      width: 210px
      height: 220px
      padding: 30px 0 0 24px
      &__count
        font-size: 48px !important
        margin-bottom: 25px
        line-height: 58px
      &__text
        font-size: 20px !important
  .specifics
    &-text
      &__li
        font-size: 16px
    &-img
      width: 435px
    &-info
      width: 470px
      &__subtitle
        font-size: 40px
        line-height: 48px
        width: 470px
        margin-bottom: 30px
      &__text
        font-size: 16px
        width: 470px
  .advantage
    width: 100%
    margin-left: 0
    &-text
      width: 100%
      margin-left: 40px
      font-size: 18px
      padding: 50px 0 50px 0
  .advantages
    &-subtitle
      margin-left: 90px
      width: 840px
  .products
    &-subtitle
      &__block
        margin-left: 0
        width: 100%
    &-block
      padding: 0
      margin-top: 30px
      width: 100%
      margin-left: 0
  .product
    width: auto
    padding: 25px
    &-img
      max-width: 260px
      max-height: 301px
    &__right
      &-name
        font-size: 24px
      &-text
        margin-bottom: 25px
  .media
    &-subtitle
      &__block
        margin-left: 0
        width: 100%
    &-mleft
      margin: 0
  .news
    width: 100%
    &-img
      width: 330px
      height: 231px
    &-date
      font-size: 12px
      line-height: 14px
      margin-bottom: 12px
      margin-top: 0
    &-title
      font-size: 24px
      line-height: 29px
      width: 100%
      margin-bottom: 24px
      margin-top: 0
      height: 87px
    &-text
      margin-top: 0
      line-height: 150%
      font-size: 16px
      width: 100%
      -webkit-line-clamp: 4
      height: 100px
    &-left
      width: 570px

  .photo
    &-title
      &__block
        margin-left: 0
        width: 100%
  .swiper
    width: 100%
    margin-top: 30px
  .slider
    &-pagination
      margin-top: 0
    &-button
      &__block
        width: 1010px
        margin-left: -40px

  .contacts
    &-subtitle
      &__link
        font-size: 18px
      &__block
        width: 100%
        margin-left: 0
    &-flex
      width: 100%
      &__off
        width: 100%
    &-maps
      height: 568px
      margin-left: 0
    &-block
      width: 100%
      margin-left: 0
      margin-top: 30px
      &__title
        margin-left: 0
    &-address
      width: 100%
      &__block
        margin-left: -50px
    &-link
      &-ob
        margin-left: 0

  .title-link
    font-size: 18px
    line-height: 22px

@media (max-width: 1280px)
  .main
    padding-top: 185px
  .header
    width: 100%
    &-links
      width: auto
      &__social
        display: none
    &-container
      width: 900px
      margin-left: auto
      margin-right: 0

@media (max-width: 1210px)
  .header
    &-container
      width: 850px

@media (max-width: 1168px)
  .header
    &-logo
      width: auto
      height: 61px
      &__link
        position: relative
        overflow: hidden
        width: 71px

@media (max-width: 1070px)
  .splide__arrow--prev
    left: 0em !important
    background: linear-gradient(to right, #000000, transparent) !important
  .splide__arrow--next
    right: 0em !important
    background: linear-gradient(to left, #000000, transparent) !important
  .splide__arrow svg
    fill: #fff !important
@media (max-width: 1030px)
  .header
    &-container
      width: 820px
  .footer-bg
    margin-left: -184px
  .contacts-address__block
    margin-left: -35px
    width: 515px

@media (max-width: 960px)
  h2
    font-size: 86px !important
    line-height: 103px !important
  .main
    padding-top: 140px
    padding-bottom: 80px
    &-info
      margin-left: 45px
      &__title
        margin-bottom: 25px
        font-size: 46px
        line-height: 55px
        width: 100%
        max-width: 740px
      &__text
        width: 451px
        font-size: 15px
        margin-bottom: 40px
    &-container
      width: 95%
    &-arr
      margin-left: 9px
  .container
    width: 95%

  .video
    padding-bottom: 80px
    &-block
      width: 100%

  .about
    padding-bottom: 80px
    &-mainBlock
      flex-direction: column
      align-items: start
    &-left
      width: 100%
      height: auto
      margin-bottom: 50px
    &-right
      margin: auto
      padding-right: 10%
      margin-bottom: 50px
      &__text
        width: 100%
        padding-left: 30px
        margin-bottom: 40px
      &__tagline
        padding-left: 30px
        width: 100%
    &-subtitle
      width: 100%
    &-advantages
      display: grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: 1fr 1fr
      grid-gap: 25px
    &-advantage
      width: 100%
    
  .specifics
    margin-bottom: 80px
    &-block
      flex-direction: column
      margin-bottom: 80px
      &__reverse
        flex-direction: column
        margin-bottom: 80px
    &-img
      margin-top: 40px
      width: 100%
      object-fit: cover
      height: 400px
    &-info
      width: 100%
      &__subtitle
        width: 100%
      &__text
        width: 100%

  .advantages
    padding-bottom: 80px
    &-subtitle
      max-width: 960px
      width: auto

  .products
    padding-bottom: 80px

  .contacts
    &-block
      &__title
        margin-left: 50px
        &-off
          margin-right: 40px
    &-address
      &__block
        margin-left: 0
        &-off
          margin-right: 0
  .photo
    margin-top: 80px
    margin-bottom: 80px
    &-container
      width: 100%
    &-title
      &__block
        margin-bottom: 30px

  .footer
    margin-top: 80px
  .footer-bg
    margin-left: -186px
  .footer-block
    width: 100%

  .media
    &-subtitle
      &__block
        margin-bottom: 30px
  .news
    flex-direction: column-reverse
    height: 100%
    margin-bottom: 0
    &-img
      width: 100%
      height: 100%
      min-height: 300px
    &-block
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 30px
      grid-row-gap: 40px
    &-left
      width: 100%
      border-bottom: none
      margin-right: 0
      border-bottom: 1px solid #d6d6d6
      padding-bottom: 30px
    &-title
      height: fit-content
      font-size: 22px
    &-text
      width: 100%
      margin-bottom: 0
      font-size: 14px
      -webkit-line-clamp: 5
      height: 110px
      
    &-date
      margin-top: 20px
      width: 100%

  .news-block > .news:nth-last-child(2) .news-left
    border-bottom: none
    padding-bottom: 0
    margin-bottom: 0


@media (max-width: 930px)
  .footer
    &-bg
      display: none
    &-top
      flex-direction: column
    &-block
      margin-top: 30px
      flex-direction: column
      min-height: 520px
    &-bottom
      margin-top: 50px


@media (max-width: 800px)
  .product
    &-img
      width: 100%
    &-text
      font-size: 13px
      margin-bottom: 30px

@media (max-width: 720px)
  h2
    display: none
  .product
    &-name
      font-size: 18px
    &-text
      font-size: 14px
      margin-bottom: 40px
  
  .contacts
    &-block__title
      margin-left: 42px
    &-flex
    &-link
      width: 100%
    &-address
      &__text
        margin-left: 20px
        width: 100%
      &__block
        width: 240%
        &__title

  .footer-bg
    margin-left: 250px

@media (max-width: 640px)
  .product
    flex-direction: column !important
    &-img
      
      
      &__link
        width: 100%
        display: flex
        justify-content: center
        padding-bottom: 20px
        border-bottom: 1px solid #CDCDCD  
    &__right
      margin-left: 0
      padding-left: 0
      border: none
      margin-top: 20px



@media (max-width: 480px)
  h1
    font-size: 32px !important
    line-height: 38px !important
  h3
    font-size: 32px !important
    line-height: 38px !important

  .main
    padding-top: 160px
    &-arr
      display: none
    &-info
      &__text
        width: 100%
        font-size: 14px
        margin-bottom: 35px
        max-width: 370px
      &__button
        padding: 18px 30px
        font-size: 18px
      &__title
        max-width: 370px
    
  .about
    padding-bottom: 70px
    &-block
      flex-direction: column
    &-subtitle
      padding-left: 0
      margin-bottom: 20px
    &-left
      &__text
        width: 100%
        margin-bottom: 15px
        font-size: 12px
    &-right
      padding-right: 15%
      margin-bottom: 40px
      &__text
        padding-left: 0
        margin-bottom: 30px
      &__tagline
        padding-left: 0

  .specifics-info__subtitle
    margin-bottom: 20px
  .specifics-info__text
    margin-top: 20px
  .specifics-block
    margin-bottom: 70px
  .specifics
    margin-bottom: 70px

  .advantage
    
    &-text
      padding: 45px 0px
      font-size: 16px
      line-height: 19px
      margin-left: 25px
  .advantages-subtitle
    margin-left: 75px
  .advantages
    padding-bottom: 70px
  .about-advantages
    grid-template-columns: 1fr

  .title-link
    font-size: 17px
    line-height: 19px
    margin-top: 8px

  .products
    padding-bottom: 70px
    &__block
      margin-top: 20px
    &-subtitle__block
      align-items: center
  
  .product-img
    max-width: 480px
    max-height: 552px

  .news
    &-block
      grid-template-columns: 1fr
  .news-block > .news:nth-last-child(2)
    display: none
  .news-block > .news:nth-last-child(3)
    display: none

  .media-subtitle__block
    align-items: center

  .photo
    margin: 70px 0px
  
  .contacts
    &-subtitle
      width: 65%
  .contacts-subtitle__link
    font-size: 16px
    line-height: 19px
  .contacts-address__text
    font-size: 16px
    line-height: 19px
    margin-left: 0
  .contacts-block__title
    margin-left: 0
  .contacts-address__img
    display: none
  .contacts-link
    font-size: 16px
    line-height: 19px
    width: 150px
  .contacts-block__title-off
    margin-right: 0
  .contacts-address__text-sep
    width: 300px
    margin-right: 0
    font-size: 16px
    line-height: 19px
  .contacts-address__block
    width: 350px