@media (max-width: 1720px)
  .header
    &-container
      width: 1020px
@media (max-width: 1540px)
  .header
    &-container
      margin: 0
      width: 960px
    &-menu
      margin-right: 30px
    &-button
      display: none
    &-links
      margin-left: 50px
  .footer-bg
    margin-left: -184px

@media (max-width: 1300px)
  h3
    font-size: 40px !important
    line-height: 48px !important
  h2
    font-size: 96px !important
    line-height: 115px !important
  .header-menu__activeLine
    margin-top: 35px !important
  .header
    &-logo
      width: 175px
    &-menu
      margin-right: 40px
    &-links
      margin-left: 0px
  .container
    width: 930px
  .photo
    &-container
      width: 930px
  .video
    &-size
      height: 525px
  .main
    &-container
      width: 930px
    &-info
      &__title
        width: 810px
        font-size: 53px
        line-height: 64px
        margin-bottom: 25px
      &__text
        font-size: 16px
        width: 485px
        line-height: 130%
        margin-bottom: 50px
      &__button
        font-size: 18px
        padding: 21px 36px
        width: 275px
    &-arr
      margin-left: 45px
  .about
    &-title

    &-left
      height: 695px
      &__text
        font-size: 12px
        width: 155px
    &-subtitle
      width: 585px
      margin-bottom: 30px
      padding-left: 185px
    &-right
      &__text
        font-size: 16px
        width: 414px
      &__img
        width: 330px
      &__tagline
        font-size: 28px
        width: 396px
    &-advantage
      width: 210px
      height: 220px
      padding: 30px 0 0 24px
      &__count
        font-size: 48px !important
        margin-bottom: 25px
        line-height: 58px
      &__text
        font-size: 20px !important
  .specifics
    &-text
      &__li
        font-size: 16px
    &-img
      width: 435px
    &-info
      width: 470px
      &__subtitle
        font-size: 40px
        line-height: 48px
        width: 470px
        margin-bottom: 30px
      &__text
        font-size: 16px
        width: 470px
  .advantage
    width: 100%
    margin-left: 0
    &-text
      width: 100%
      margin-left: 40px
      font-size: 18px
      padding: 50px 0 50px 0
  .advantages
    &-subtitle
      margin-left: 90px
      width: 840px
  .products
    &-subtitle
      &__block
        margin-left: 0
        width: 100%
    &-block
      padding: 0
      margin-top: 30px
      width: 100%
  .product
    width: auto
    padding: 20px
    &-img
      width: 250px
    &-name
      font-size: 16px
      line-height: 19px
    &-text
      font-size: 14px
      line-height: 130%
    &-button
      font-size: 16px
      padding: 13px 28px
  .media
    &-subtitle
      &__block
        margin-left: 0
        width: 100%
    &-mleft
      margin: 0
  .news
    width: 100%
    &-img
      width: 330px
      height: 231px
    &-date
      font-size: 12px
      line-height: 14px
      margin-bottom: 12px
      margin-top: 0
    &-title
      font-size: 24px
      line-height: 29px
      width: 100%
      margin-bottom: 24px
      margin-top: 0
      height: 87px
    &-text
      margin-top: 0
      line-height: 150%
      font-size: 16px
      width: 100%
      -webkit-line-clamp: 4
      height: 100px
    &-left
      width: 570px

  .photo
    &-title
      &__block
        margin-left: 0
        width: 100%
  .swiper
    width: 100%
    margin-top: 30px
  .slider
    &-pagination
      margin-top: 0
    &-button
      &__block
        width: 1010px
        margin-left: -40px

  .contacts
    &-subtitle

      &__block
        width: 100%
        margin-left: 0
    &-flex
      width: 100%
      &__off
        width: 100%
    &-maps
      height: 568px
      margin-left: 0
    &-block
      width: 100%
      margin-left: 0
      margin-top: 30px
      &__title
        margin-left: 0
    &-address
      width: 100%
      &__block
        margin-left: -50px
    &-link
      &-ob
        margin-left: 0

  .title-link
    font-size: 18px
    line-height: 22px

@media (max-width: 1280px)
  .header
    width: 100%
    &-links
      width: auto
      &__social
        display: none
    &-container
      width: 900px
      margin-left: auto
      margin-right: 0

@media (max-width: 1210px)
  .header
    &-container
      width: 850px

@media (max-width: 1168px)
  .header
    &-logo
      width: auto
      height: 61px
      &__link
        position: relative
        overflow: hidden
        width: 71px

@media (max-width: 1030px)
  .header
    &-container
      width: 820px
  .footer-bg
    margin-left: -184px

@media (max-width: 960px)
  h2
    font-size: 86px !important
    line-height: 103px !important
  .main
    padding-top: 150px
    padding-bottom: 80px
    &-info
      margin-left: 45px
      &__title
        margin-bottom: 25px
        font-size: 46px
        line-height: 55px
        width: 100%
      &__text
        width: 451px
        font-size: 15px
        margin-bottom: 50px
    &-container
      width: 95%
    &-arr
      margin-left: 9px
  .container
    width: 95%

  .video
    padding-bottom: 80px
    &-block
      width: 100%

  .about
    padding-bottom: 80px
    &-mainBlock
      flex-direction: column
      align-items: start
    &-left
      width: 100%
      height: auto
      margin-bottom: 50px
    &-right
      margin: auto
      padding-right: 10%
      margin-bottom: 50px
      &__text
        width: 100%
        padding-left: 30px
        margin-bottom: 40px
      &__tagline
        padding-left: 30px
        width: 100%
    &-subtitle
      width: 100%
    &-advantages
      display: grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: 1fr 1fr
      grid-gap: 25px
    &-advantage
      width: 100%
    
  .specifics
    margin-bottom: 110px
    &-block
      flex-direction: column
      margin-bottom: 80px
      &__reverse
        flex-direction: column
        margin-bottom: 80px
    &-img
      margin-top: 60px
      width: 100%
      object-fit: cover
      max-height: 600px
    &-info
      width: 100%
      &__subtitle
        width: 100%
      &__text
        width: 100%

  .advantages
    padding-bottom: 80px
    &-subtitle
      max-width: 960px
      width: auto

  .products
    padding-bottom: 80px

  .contacts
    &-block
      &__title
        margin-left: 50px
        &-off
          margin-right: 40px
    &-address
      &__block
        margin-left: 0
        &-off
          margin-right: 0
  .photo
    margin-top: 80px

  .footer
    margin-top: 80px
  .footer-bg
    margin-left: -186px
  .footer-block
    width: 610px

@media (max-width: 960px)
  .media
    &-subtitle
      &__block
        margin-bottom: 30px
  .news
    flex-direction: column-reverse
    height: 100%
    margin-bottom: 0
    &-img
      width: 100%
      height: 100%
      min-height: 300px
    &-block
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 30px
      grid-row-gap: 40px
    &-left
      width: 100%
      border-bottom: none
      margin-right: 0
      border-bottom: 1px solid #d6d6d6
      padding-bottom: 30px
    &-title
      height: fit-content
      font-size: 22px
    &-text
      width: 100%
      margin-bottom: 0
      font-size: 14px
      -webkit-line-clamp: 5
      height: 110px
      
    &-date
      margin-top: 20px
      width: 100%

  .news-block > .news:nth-last-child(2) .news-left
    border-bottom: none
    padding-bottom: 0