*
  box-sizing: border-box
  font-family: "Golos"
  margin: 0
  padding: 0

// ТЕГИ
h1
  margin: 0
h2
  font-weight: 800
a
  text-decoration: none
img
  width: 100% !important
  max-width: fit-content !important
  height: auto !important
button
  border: none
  outline: none
  cursor: pointer
  color: #fff
  background-color: $accent
  font-family: Golos
  font-weight: 500
  font-size: 20px
  transition: .3s
  line-height: 100%
  &:hover
    transition: .3s
    background-color: #fff
    color: $accent
    outline: 1px solid $accent

// Стили для SPAN
.accent
  color: $accent
  font-weight: 500
.accentBlack
  font-weight: 500
.accent600
  color: $accent
  font-weight: 600
.accent700
  color: $accent
  font-weight: 700

// Вспомогательные классы
.container
  width: 1290px
  margin: 0 auto
.hidden
  display: none
.grayTitle //Большой серый текст
    font-style: normal
    font-weight: 700
    font-size: 100px
    width: 100%
    letter-spacing: 0.2em
    color: #F3F3F3
    text-transform: uppercase
.air //Отсупы между блоками
  margin-bottom: 130px

// Аккардеон
#accordeon
  box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15)
.headAcord
  cursor: pointer
  background: white
  outline: none
  color: $text
  width: 100%
  font-weight: 600
  font-size: 28px
  display: flex
  padding: 35px 0px
  align-items: center
  justify-content: start
  text-align: start
  padding-left: 10%
  padding-right: 10%
  &:hover
    outline: none
    color: $accent
.hiddenAcord
  visibility: hidden
  height: 0 
  overflow: hidden
  opacity: 0
  transition: all 0.2s linear
.activeAcord
  visibility: visible
  height: auto
  overflow: none
  opacity: 1
.activeAcord.hiddenAcord
  padding: 35px 0px
.hiddenAcord
  margin: 0px 10%
  font-weight: 400
  font-size: 18px
  line-height: 130%
  border-top: 1px solid #cdcdcd

// Preloader
.preloader
  position: fixed
  display: flex
  align-items: center
  justify-content: center
  left: 0
  top: 0
  right: 0
  bottom: 0
  overflow: hidden
  background: #ffffff
  z-index: 1001
.preloader__image 
  width: 100px
  height: 100px
  text-align: center
  animation: preloader-rotate 2s infinite linear
@keyframes preloader-rotate 
  0% 
    transform: scale(100%)
  50% 
    transform: scale(150%)
  0% 
    transform: scale(100%)
.loaded_hiding .preloader
  transition: 0.3s opacity
  opacity: 0
.loaded .preloader 
  display: none