*
  box-sizing: border-box
  font-family: "Golos"
  margin: 0
  padding: 0
.container
  width: 1290px
  margin: 0 auto

a
  text-decoration: none

button
  border: none
  outline: none
  cursor: pointer
  color: #fff
  background-color: $accent
  font-family: Golos
  font-weight: 500
  font-size: 20px
  transition: .3s
  line-height: 100%
  &:hover
    transition: .3s
    background-color: #fff
    color: $accent
    outline: 1px solid $accent

.accent
  color: $accent
  font-weight: 500
.accentBlack
  font-weight: 500
.accent600
  color: $accent
  font-weight: 600
.accent700
  color: $accent
  font-weight: 700
h1
  margin: 0
h2
  font-weight: 800

.hidden
  display: none
