*
  box-sizing: border-box
  font-family: "Golos"
  margin: 0
  padding: 0
.container
  width: 1290px
  margin: 0 auto

button
  border: none
  outline: none
  cursor: pointer
  color: #fff
  background-color: $accent
  font-family: Golos
  &:hover
    transition: .5s
    background-color: #fff
    color: $accent
    outline: 1px solid $accent
.accent
  color: $accent
