// variables 
$main: #2E6C77 
$text: #181818
$lightGray: #878787

// Styles
body
    font-family: "Golos"
    height: 2000px
    background-image: url("../images/Большое лого.svg")
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: right

h1,h2,h3,p,a,li,ul
    margin: 0
    padding: 0
    color: $text
    list-style-type: none
    text-decoration: none

h1
    font-size: 64px

h2
    font-size: 48px

h3
    font-size: 32px

p,a,li,ul
    font-size: 18px

button
    cursor: pointer
    border: none


// Classes
.containerBig
    width: 1378px
    margin: 0 auto

.container
    width: 1180px
    margin: 0 auto

.containerSmall
    width: 980px
    margin: 0 auto

.activePage
    border-bottom: 3px solid $main