.productPage
  padding-top: 230px
  &-text
    padding-bottom: 60px
    border-bottom: 1px solid #CDCDCD
    margin-left: 110px
    margin-top: 40px
    &-nb
      border: none

  &-title
    text-transform: uppercase
    font-style: normal
    font-weight: 700
    font-size: 128px
    line-height: 154px
    letter-spacing: 0.2em
    color: #F3F3F3
  &-subtitle
    font-family: 'Golos'
    font-style: normal
    font-weight: 600
    font-size: 48px
    line-height: 58px
    border-bottom: 3px solid $accent
    padding-bottom: 25px
    margin-left: 110px
    width: 1070px

  &-block
    display: flex
    align-items: center
    justify-content: space-between

    &__text
      font-style: normal
      font-weight: 400
      font-size: 18px
      line-height: 150%
      color: $text
      width: 639px

    &__img
      margin-right: 110px
      pointer-events: none
      max-width: 330px
      object-fit: cover

    &__list
      margin-left: 25px
      width: 630px
    &__item
      font-style: normal
      font-weight: 400
      font-size: 18px
      line-height: 150%
      color: $text
