.socrespons
  padding-top: 230px
  &-title
    font-style: normal
    font-weight: 700
    font-size: 128px
    line-height: 154px
    letter-spacing: 0.2em
    color: #F3F3F3
    text-transform: uppercase
  &-subtitle
    font-style: normal
    font-weight: 600
    font-size: 48px
    line-height: 58px
    color: $text
    padding-bottom: 20px
    width: 1070px
    border-bottom: 3px solid $accent
    margin-left: 110px
  &-block
    justify-content: space-between
    display: flex
    align-items: center
    margin-top: 40px
    margin-left: 110px
    width: 1070px
    &__text
      font-style: normal
      font-weight: 400
      font-size: 18px
      line-height: 150%
      color: $text
      width: 550px
