.management
  padding-top: 230px
  &-title
    font-style: normal
    font-weight: 600
    font-size: 128px
    line-height: 154px
    letter-spacing: 0.2em
    color: #F3F3F3
    text-transform: uppercase
  &-subtitle
    font-style: normal
    font-weight: 600
    font-size: 64px
    line-height: 77px
    color: $text
    width: 1070px
    padding-bottom: 20px
    border-bottom: 3px solid $accent
    margin-left: 110px
  &-text
    width: 1070px
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 150%
    color: $text
  &-ul
    margin-left: 30px
  &-li
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 150%
    color: $text
  &-link
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 150%
    color: $accent
    transition: .3s
    &:hover
      transition: .3s
      color: $text
  &-block
    margin-left: 110px
    margin-top: 40px
