.about
  padding-bottom: 130px
  &-block
    display: flex
    justify-content: space-between
    align-items: start
  &-mainBlock
    display: flex
    align-items: center
    justify-content: space-between
  &-title
    font-style: normal
    font-weight: 700
    font-size: 100px
    line-height: 120px
    letter-spacing: 0.2em
    color: #F3F3F3
    text-transform: uppercase
  &-subtitle
    font-style: normal
    font-weight: 600
    font-size: 48px
    line-height: 58px
    color: $text
    width: 660px
    padding-left: 207px
    border-bottom: 3px solid $accent
    padding-bottom: 15px
    margin-bottom: 40px
  &-left
    height: 740px
    &__text
      font-style: normal
      font-weight: 500
      font-size: 14px
      line-height: 150%
      color: #878787
      width: 190px

  &-right
    &__text
      font-style: normal
      font-weight: 400
      font-size: 18px
      line-height: 150%
      width: 453px
      color: $text
      margin-bottom: 60px
    &__tagline
      font-style: normal
      font-weight: 700
      font-size: 32px
      line-height: 38px
      color: $text
      width: 453px
    &__img
      pointer-events: none
  &-advantages
    display: flex
    align-items: center
    justify-content: space-between
  &-advantage
    height: 300px
    width: 300px
    background-color: $accent
    padding: 35px 0 0 30px
    &__count
      font-style: normal
      font-weight: 600
      font-size: 64px
      line-height: 77px
      color: #fff
      margin-bottom: 35px
    &__text
      font-style: normal
      font-weight: 400
      font-size: 24px
      line-height: 29px
      color: #FFFFFF
