.contacts
  &-flex
    display: flex
    justify-content: space-between
    max-width: 1070px
    width: 100%
    align-items: end
    &__off
      align-items: end
      display: flex
      justify-content: space-between
      max-width: 1122px
      width: 100%
      flex-direction: row-reverse
  &-block
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 30px
    &__adress
      max-width: 50%
      width: 100%
      &-title
        color: $accent
        font-weight: 500
        font-size: 20px
        margin-bottom: 10px
      &-svg
        min-width: 22px
        height: 31px
        margin-right: 15px
      &-text
        font-weight: 400
        font-size: 18px
        display: flex
        align-items: center
  &-maps
    border-radius: 10px
    width: 100%
    height: 650px
    max-width: 1070px
  &-mapsBlock
    margin-left: 110px
    margin-right: 110px
  &-subtitle
    font-style: normal
    font-weight: 600
    font-size: 48px
    &__block
      max-width: 1070px
      width: 100%
      border-bottom: 3px solid $accent
      padding-bottom: 15px
      display: flex
      justify-content: space-between
      align-items: end
      margin-left: 110px
      margin-bottom: 30px
    &__link
      font-style: normal
      font-weight: 600
      font-size: 20px
      text-decoration: none
      color: $text
      transition: .3s
      &:hover
        color: $accent
        transition: .3s
