.main

  padding-top: 170px
  padding-bottom: 153px
  margin-left: -100px
  &-container
    width: 1062px
    margin: 0 auto
    display: flex
    align-items: center
  &-info
    margin-left: 80px
    &__title
      width: 990px
      font-style: normal
      font-weight: 600
      font-size: 64px
      line-height: 77px
      color: $text
      margin-bottom: 30px
      &-accent
        color: $accent
    &__text
      width: 550px
      font-style: normal
      font-weight: 400
      font-size: 18px
      line-height: 22px
      color: #878787
      margin-bottom: 83px
    &__button
      padding: 23px 38px
      border: none
      outline: none
      cursor: pointer
      color: #fff
      background-color: $accent
      font-family: Golos
      font-weight: 500
      font-size: 20px
      transition: .3s
      line-height: 100%
      text-decoration: none

      &:hover
        transition: .3s
        background-color: #fff
        color: $accent
        outline: 1px solid $accent
