.media
  &-page
    padding-top: 170px
    padding-bottom: 130px
  &-mleft
    margin-left: 110px
  &-title
    font-style: normal
    font-weight: 700
    font-size: 128px
    line-height: 154px
    letter-spacing: 0.2em
    color: #F3F3F3
    text-transform: uppercase
  &-subtitle
    font-style: normal
    font-weight: 600
    font-size: 48px
    line-height: 58px
    color: $text

    &__block
      display: flex
      align-items: end
      justify-content: space-between
      width: 1070px
      border-bottom: 3px solid $accent
      padding-bottom: 15px
      margin-bottom: 40px
    &__link
      text-decoration: none
      font-style: normal
      font-weight: 600
      font-size: 20px
      line-height: 24px
      color: $text
      transition: .3s
      &:hover
        color: $accent
        transition: .3s
.news
  align-items: start
  display: flex
  width: 1070px
  margin-bottom: 40px
  justify-content: space-between
  &-img
    width: 410px
    height: 287px
  &-left
    border-bottom: 1px solid #D6D6D6
    width: 630px

  &-date
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 17px
    color: #878787
  &-title
    font-style: normal
    font-weight: 600 !important
    font-size: 32px
    line-height: 38px
    color: $text
    margin-top: 20px
    height: 114px
    &__link
      text-decoration: none

  &-text
    height: 106px
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 22px
    color: $text
    width: 626px
    margin-top: 30px
    line-height: 150%
    margin-bottom: 40px
    display: -webkit-box
    -webkit-line-clamp: 4
    -webkit-box-orient: vertical
    overflow: hidden

  &-read
    font-style: normal
    font-weight: 700
    font-size: 18px
    line-height: 19px
    text-decoration-line: underline
    color: $text
    margin-bottom: 20px
    transition: .3s
    &:hover
      color: $accent
      transition: .3s
  &-button
    padding: 19px 38px
    margin-top: 20px

.news-block > .news:last-child .news-left
  border-bottom: 0px solid #000
