.products
  padding-bottom: 130px
  &-title
    font-style: normal
    font-weight: 700
    font-size: 128px
    line-height: 154px
    letter-spacing: 0.2em
    color: #F3F3F3
    text-transform: uppercase
  &-subtitle
    font-style: normal
    font-weight: 600
    font-size: 48px
    line-height: 58px
    color: $text

    &__block
      display: flex
      justify-content: space-between
      align-items: end
      border-bottom: 3px solid $accent
      width: 1070px
      padding-bottom: 15px
      margin-left: 110px
    &__link
      font-style: normal
      font-weight: 600
      font-size: 20px
      line-height: 24px
      color: $text
      text-decoration: none
      transition: 0.2s
      &:hover
        color: $accent
        transition: 0.2s
  &-block
    display: grid
    grid-template-rows: 1fr 1fr 1fr
    grid-gap: 30px
    margin-top: 40px
    margin-left: 110px
    margin-right: 110px

.product
  width: 100%
  display: flex
  height: fit-content
  padding: 30px
  // box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15)\
  box-shadow: 3px 3px 20px -7px rgba(0, 0, 0, 0.1)
  &-img
    max-width: 270px
    max-height: 325px
    min-width: 240px
  &__right
    display: flex
    flex-direction: column
    justify-content: center
    margin-left: 30px
    padding-left: 20px
    border-left: 1px solid #CDCDCD
    &-tag
      color: $accent
      font-weight: 500
      font-size: 16px
      transition: 0.3s
      width: 100%
      margin-bottom: 10px
      &:hover
        transition: 0.3s
        color: #7a7a7a
    &-name
      font-style: normal
      font-weight: 700
      font-size: 26px
      line-height: 31px
      color: $text
      margin-bottom: 15px
      height: fit-content
      transition: 0.3s
      &:hover
        transition: 0.3s
        color: $accent
    &-text
      font-style: normal
      font-weight: 400
      font-size: 16px
      line-height: 17px
      color: #878787
      margin-bottom: 30px
      line-height: 130%
      height: fit-content
      display: -webkit-box
      -webkit-line-clamp: 5
      -webkit-box-orient: vertical
      overflow: hidden
    &-button
      font-weight: 500
      padding: 12px 28px
      border: none
      outline: none
      cursor: pointer
      color: #fff
      background-color: $accent
      font-family: Golos
      text-decoration: none
      display: block
      width: 144px
      transition: .3s
      &:hover
        transition: .3s
        background-color: #fff
        color: $accent
        outline: 1px solid $accent
  &-all
    &__btn
      padding: 19px 46px
      margin-top: 60px
      margin-left: 110px

.productContainer .productspage-block:last-child
  border: none
  padding-bottom: 0
