.products
  &-subtitle
    font-style: normal
    font-weight: 600
    font-size: 48px
    color: $text
    &__block
      display: flex
      justify-content: space-between
      align-items: end
      border-bottom: 3px solid $accent
      max-width: 1070px
      width: 100%
      padding-bottom: 15px
      margin-left: 110px
      margin-bottom: 30px
    &__link
      font-style: normal
      font-weight: 600
      font-size: 20px
      color: $text
      text-decoration: none
      transition: 0.2s
      &:hover
        color: $accent
        transition: 0.2s
  &-block
    margin-left: 110px
    margin-right: 110px
  

.product
  width: 100%
  display: flex
  height: fit-content
  padding: 30px
  // box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15)\
  box-shadow: 3px 3px 20px -7px rgba(0, 0, 0, 0.1)
  margin-bottom: 30px
  &-img
    max-width: 270px
    max-height: 325px
    min-width: 240px
  &__right
    display: flex
    flex-direction: column
    justify-content: center
    margin-left: 30px
    padding-left: 20px
    border-left: 1px solid #CDCDCD
    &-tag
      color: $accent
      font-weight: 500
      font-size: 16px
      transition: 0.3s
      width: 100%
      margin-bottom: 10px
    &-name
      font-style: normal
      font-weight: 700
      font-size: 26px
      color: $text
      margin-bottom: 15px
      height: fit-content
      transition: 0.3s
      -moz-hyphens: auto
      -webkit-hyphens: auto
      -ms-hyphens: auto
      &:hover
        transition: 0.3s
        color: $accent
    &-text
      font-style: normal
      font-weight: 400
      font-size: 16px
      color: #878787
      margin-bottom: 30px
      line-height: 130%
      height: fit-content
      display: -webkit-box
      -webkit-line-clamp: 5
      -webkit-box-orient: vertical
      overflow: hidden
    &-button
      font-weight: 500
      padding: 12px 28px
      border: none
      outline: none
      cursor: pointer
      color: #fff
      background-color: $accent
      font-family: Golos
      text-decoration: none
      display: block
      width: 144px
      transition: .3s
      &:hover
        transition: .3s
        background-color: #fff
        color: $accent
        outline: 1px solid $accent
  &-all
    &__btn
      padding: 19px 46px
      margin-top: 60px
      margin-left: 110px

.productContainer .productspage-block:last-child
  border: none
  padding-bottom: 0px
  

.product:last-child
  margin-bottom: 0

.post-categories
  margin-bottom: 10px

.post-categories > li > a
  color: $accent
  font-weight: 500
  font-size: 16px
  transition: 0.3s
  width: 100%

.post-categories > li
  list-style-type: none

  