.specifics
  &-block
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row
    margin-bottom: 130px
    padding-left: 110px
    padding-right: 110px
    &:nth-child(even)
      flex-direction: row-reverse

  &-info
    &__subtitle
      width: 410px
      font-style: normal
      font-weight: 600
      font-size: 48px
      line-height: 58px
      color: $text
      padding-bottom: 20px
      border-bottom: 3px solid $accent
    &__text
      width: 410px
      font-style: normal
      font-weight: 400
      font-size: 18px
      line-height: 130%
      color: $text
      margin-top: 40px
  &-img
