.video
  padding-bottom: 130px
  &-block
    height: 728px
    background-image: url(../img/video.png)
  &-btn

    width: 120px
    margin: 0 auto
  &-button
    border-radius: 100%
    margin-top: 217px
  &-text
    font-style: normal
    font-weight: 600
    font-size: 24px
    line-height: 29px
    color: #FFFFFF
    padding-top: 36px
    padding-left: 30px
