.productspage
  padding-top: 230px
  &-subtitle
    font-style: normal
    font-weight: 600
    font-size: 48px
    color: $text
    max-width: 1070px
    width: 100%
    margin-left: 110px
    border-bottom: 3px solid $accent
    padding-bottom: 15px
    margin-bottom: 20px
  &-block
    margin-left: 110px
    margin-right: 110px
  &-productsBlock
  &-line
    background-color: #D6D6D6
    height: 1px
    width: 100%
    margin: 40px 0px
    outline: none
    border: none
      
#programm
  scroll-margin-top: 150px

#smallAuto
  scroll-margin-top: 150px

.productspage-block:last-child
  margin-bottom: 0



