.productspage
  padding-top: 230px
  &-title
    font-style: normal
    font-weight: 700
    font-size: 128px
    line-height: 154px
    letter-spacing: 0.2em
    color: #F3F3F3
    text-transform: uppercase
  &-subtitle
    font-style: normal
    font-weight: 600
    font-size: 48px
    line-height: 58px
    color: $text
    width: 1070px
    margin-left: 110px
    border-bottom: 3px solid $accent
    padding-bottom: 15px
    margin-bottom: 20px
  &-accordeon
    box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.15)
    margin-left: 110px
    width: 1070px
    margin-top: 60px
  &-button
    display: block
    background-color: inherit
    color: $text
    padding: 34px 25px 34px 0px
    background-repeat: no-repeat
    background-position: right
    background-size: 14px
    text-align: left
    margin-left: 110px
    &__active
      background-image: url(../img/accord-arr.svg)
      background-repeat: no-repeat
      background-position: right
      background-size: 14px
  &-sub
    width: 875px
  &-block
    padding-bottom: 60px
    border-bottom: 1px solid #D6D6D6
    &__img
      max-width: 330px !important

#programm
  scroll-margin-top: 150px

#smallAuto
  scroll-margin-top: 150px


